 
 .width_percentage_100{
 	margin-top: 120px;
 	display: block;
 	height: 200px;
 	width:100%
 }


.border_radius1{
border-radius: 50%
}




/*for large screen*/
@media (min-width: 1919px){
	.widget article {
    width: 100% !important;
}
 
}




