@font-face {
    font-family: "futuraBook";
    src: url('../css/fonts/Futura Book font.ttf');
}

@font-face {
    font-family: "futuraMedium";
    src: url('../css/fonts/futura medium bt.ttf');
}

html,
body,
*,
div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
a,
ul,
ul li,
ul li a,
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

html,
body {
    height: 100%;
}

body {
    background: #ffffff;
    color: #323335;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    overflow: hidden;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: show;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: show;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: show;
    }
}


/*............................................Use these colors in whole site..............
....................................yellow code --- #FDBB17; 
..............................Black code --- #323335; 
........................white code --- #ffffff;.........*/

.progress_bar_section {
    padding: 15px 15px 50px 15px;
}

.progress_wrap {
    margin-bottom: 50px;
}

.plan,
.trial {
    color: #fff;
}

.progress_txt_similar {
    color: #fff;
    font-size: 14px;
    color: #fff;
    display: inline-block;
}

.plan .plan_txt {
    font-size: 24px;
    color: #fbbc03;
    font-weight: 600;
    letter-spacing: 1px;
}

.trial .trial_txt {
    font-size: 16px;
    margin-bottom: 20px;
}


/*.pos_top1{
   margin-top: -90px;
}*/


/*.pos_top2{
  margin-top: -40px
}*/

.bg-black {
    background: #333;
    overflow: hidden;
}

.progress_txt1 {
    float: left;
}

.progress_txt2 {
    float: right;
}

.progress_bar {
    height: 6px !important;
    border-radius: 30px !important;
    background: #fff !important;
    margin-bottom: 10px !important;
}

.progress_bar .progress-bar {
    background: #fbbc03 !important;
}

.num_350 {
    font-size: 36px;
    line-height: 15px;
    text-align: center;
    font-weight: 600;
    color: #fbbc03;
    margin-top: 50px;
}

.num_350>.media_acquisti {
    font-weight: normal;
    font-size: 14px;
    color: #777;
    margin-top: 15px;
    display: inline-block;
}

.media_acquisti {
    font-size: 14px;
}

.p-0 {
    padding: 0
}

.p-15 {
    padding: 15px;
}

.list_top_icon {
    margin-top: 20px;
}

.ml-5 {
    margin-left: 5px
}

.mr-5 {
    margin-right: 5px
}

.mt-5 {
    margin-top: 5px
}

.mb-5 {
    margin-bottom: 5px
}

.ml-10 {
    margin-left: 10px
}

.mr-10 {
    margin-right: 10px
}

.mt-10 {
    margin-top: 10px
}

.mb-10 {
    margin-bottom: 10px
}

.ml-15 {
    margin-left: 15px
}

.mr-15 {
    margin-right: 15px
}

.mt-15 {
    margin-top: 15px
}

.mb-15 {
    margin-bottom: 15px
}

.ml-20 {
    margin-left: 20px
}

.mr-20 {
    margin-right: 20px
}

.mt-20 {
    margin-top: 20px
}

.mb-20 {
    margin-bottom: 20px
}

.pl-0 {
    padding-left: 0
}

.pr-0 {
    padding-right: 0
}

.pt-0 {
    padding-top: 0
}

.pb-0 {
    padding-bottom: 0
}

.pl-5 {
    padding-left: 5px
}

.pr-5 {
    padding-right: 5px
}

.pt-5 {
    padding-top: 5px
}

.pb-5 {
    padding-bottom: 5px
}

.pl-10 {
    padding-left: 10px
}

.pr-10 {
    padding-right: 10px
}

.pt-10 {
    padding-top: 10px
}

.pb-10 {
    padding-bottom: 10px
}

.pl-15 {
    padding-left: 15px
}

.pr-15 {
    padding-right: 15px
}

.pt-15 {
    padding-top: 15px
}

.pb-15 {
    padding-bottom: 15px
}

.pl-20 {
    padding-left: 20px
}

.pr-20 {
    padding-right: 20px
}

.pt-20 {
    padding-top: 20px
}

.pb-20 {
    padding-bottom: 20px
}


/*-------------------------------------forgot-password --------------------------*/

.back_icon {
    position: absolute;
    top: 50px;
}

.back_icon img {
    width: 30px;
}

.forgot-password {
    max-width: 700px;
    overflow: hidden;
    height: 600px;
    margin: auto;
    background: #fff url(../images/brand/risorsa-1.png) no-repeat 0 0;
    background-size: 600px;
    background-position: 70px 150px;
    padding: 100px;
    padding-top: 50px;
    user-select: none;
}

.forgot_password_header figure img {
    width: 350px;
    margin: auto;
}

.forgot_password_header figure figcaption p {
    font-size: 18px;
    text-align: center;
    margin-top: 55px;
    font-weight: 900;
    font-family: futuraMedium;
    color: #777;
    letter-spacing: 1px;
}

.input_box_main {
    width: 300px;
    margin: auto;
    border: 0;
    border-radius: 0 0;
    box-shadow: 0 0;
    outline: 0;
    display: block;
    overflow: hidden;
    margin-top: 100px;
}

.input_box_main .form-group label {
    font-weight: normal;
    font-family: futuraMedium;
    color: #FDBB17;
    letter-spacing: 1px;
}

.input_box_main .form-control {
    height: 50px;
    box-shadow: 0 0;
    border: 1px solid #dedede;
    outline: 0;
    border-radius: 0;
    font-family: futuraMedium;
    font-size: 18px;
    text-align: center;
}

.input_box_main .btn_submit {
    display: block;
    border: 1px solid #FDBB17;
    box-shadow: 0 0 !important;
    outline: 0 !important;
    height: 50px;
    background: #fff;
    width: 200px;
    margin: auto;
    font-family: futuraBook;
    font-size: 20px;
    color: #FDBB17;
    transition: 0.5s;
    margin-top: 30px;
    border-radius: 10px;
}

.input_box_main .btn_submit:hover {
    background: #FDBB17;
    color: #fff;
    border-color: #FDBB17;
}

.forget_account {
    margin-top: 150px;
    text-align: center;
    font-family: futuraMedium;
    font-size: 15px;
    color: #777;
}

.question_mark {
    font-family: sans-serif;
}

.registration {
    color: #FDBB17 !important;
    font-size: 18px;
}


/*-------------------Start Registration ----------------------*/

.registration {
    max-width: 800px;
    overflow: hidden;
    height: 600px;
    margin: auto;
    background: url(../images/brand/risorsa-1.png) no-repeat 0 0;
    background-size: 700px;
    background-position: 95px 30px;
    padding-top: 85px;
}

.registration_header {
    color: #323335 !important;
    font-size: 18px;
}

.registration_article {
    width: 500px;
    margin: auto;
    border: 0;
    border-radius: 0 0;
    box-shadow: 0 0;
    outline: 0;
    display: block;
    overflow: hidden;
    margin-top: 100px;
}

.registration_header figure p {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: futuraMedium;
}

.login_link {
    color: #323335 !important;
    font-size: 18px;
    font-family: futuraMedium;
    font-weight: 600;
}

.registration_btn,
.registration_btn:link {
    height: 50px;
    font-size: 18px;
    width: 200px;
    line-height: 40px;
    font-family: futuraMedium;
    font-weight: 600;
    letter-spacing: 1px;
    color: #323335 !important;
    background: #FDBB17 !important;
    border: 1px solid #FDBB17 !important;
    margin-bottom: 20px;
    box-shadow: 0 0 !important;
    outline: 0 !important;
    transition: 0.5s;
}

.login_link {
    font-family: futuraMedium;
}

.registration_btn:hover {
    background: #fff !important;
    color: #323335 !important;
}

.registration_block {
    margin-top: 30px;
    text-align: center;
}


/*-------------------End Registration ----------------------*/


/*-------------------Start Login ----------------------*/

.login_page {
    max-width: 700px;
    overflow: hidden;
    margin: auto;
    background: #fff url(../images/brand/risorsa-1.png) no-repeat 0 0;
    background-size: 600px;
    background-position: 90px 185px;
    padding: 100px;
    padding-top: 50px;
    user-select: none;
}

.line {
    border-bottom: 1px solid #999;
    position: relative;
    margin-bottom: 20px;
    z-index: 0;
}


.line>span {
    background: #fff;
    display: block;
    width: 40px;
    height: 40px;
    left: 48%;
    text-transform: uppercase;
    box-shadow: 0 0 5px 0 #ddd;
    position: relative;
    top: 15px !important;
    text-align: center;
    font-size: 14px;
    border-radius: 50px;
    line-height: 44px;
}



.login_article {
    width: 400px;
    margin: auto;
    border: 0;
    border-radius: 0 0;
    box-shadow: 0 0;
    outline: 0;
    display: block;
    overflow: hidden;
    margin-top: 70px;
    padding: 0 15px;
}

.login_article .form-control,
.btn_login {
    height: 50px;
    outline: 0;
    border-radius: 0;
    font-family: futuraMedium;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 0px 2px 0 #ddd;
    border: 1px solid #dedede;
}

.login_article .form-control:focus {
    box-shadow: 0px 0px 2px 0 #FDBB17;
    border-color: #FDBB17;
}

.login_article .form-group label {
    font-weight: normal;
    font-family: futuraMedium;
    color: #FDBB17;
    letter-spacing: 1px;
}

.login_article .btn_submit:hover {
    background: #FDBB17;
    color: #fff;
    border-color: #FDBB17;
}

.login_article .btn_submit {
    display: block;
    border: 1px solid #FDBB17;
    box-shadow: 0 0 !important;
    outline: 0 !important;
    height: 50px;
    background: #fff;
    width: 200px;
    margin: auto;
    font-family: futuraBook;
    font-size: 20px;
    color: #FDBB17;
    transition: 0.5s;
    margin-top: 30px;
    border-radius: 10px;
}

.use_google_account {
    height: 50px;
    border: 1px solid #dedede;
    outline: 0;
    border-radius: 0;
    font-family: futuraBook;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 0px 2px 0 #ddd;
    margin-top: 5px;
    background: #fff;
    line-height: 50px;
    font-weight: 600;
}

.google {
    color: #FDBB17 !important
}

.btn_login {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #f7ba00;
    outline: 0 !important;
    color: white !important;
    transition: 0.5s;
    font-weight: bold;
}

.btn_login:active {
    box-shadow: 0px 0px 2px 0 #ddd !important;
}

.btn_login:hover {
    background: #FDBB17 !important;
    color: #fff !important;
    box-shadow: 0 0 !important;
    border-color: #FDBB17 !important
}

.foget_txt {
    font-family: futuraMedium;
    font-size: 18px;
    text-align: center;
    color: #777 !important;
    border-bottom: 1px;
    text-decoration: underline;
    display: block;
}

.login_forget_account {
    margin-top: 50px;
    text-align: center;
    font-family: futuraMedium;
    font-size: 15px;
    color: #777;
    overflow: hidden;
}

.heading_txt {
    margin-top: 50px;
    text-align: center;
}

.mp_sale {
    font-size: 24px;
    font-family: futuraBook;
    color: #FDBB17 !important;
    font-weight: 600;
    letter-spacing: 1px;
}

.create_strategy {
    font-size: 13px;
    font-family: futuraBook;
    font-weight: 600;
    color: #323335;
    letter-spacing: 1px;
}

.use_left {
    padding-left: 250px;
}


/*-------------------End Login ----------------------*/

@media only screen and (max-width: 767px) {
    .forgot-password {
        background-size: 100%;
        background-position: 0 150px;
        padding: 50px;
    }

    .input_box_main {
        width: 100%;
    }

    .forget_account {
        margin-top: 70px;
    }

    .registration {
        max-width: 800px;
        overflow: hidden;
        height: 500px;
        margin: auto;
        background: url(../images/brand/risorsa-1.png) no-repeat 0 0;
        background-size: 100%;
        background-position: 20px 90px;
    }

    .registration_article {
        width: 100%;
    }

    .registration_header figure {
        padding: 0 30px;
    }

    .registration_header figure img {
        width: 100%;
        margin: auto;
    }

    .registration_block {
        margin-top: 70px;
    }

    .use_left {
        padding-left: 0;
    }

    .back_icon img {
        width: 20px;
    }

    .login_article {
        width: 100%;
    }

    .forgot_password_header figure img {
        width: 100%;
        padding: 0 40px;
    }

    .login_page {
        max-width: 100%;
        background-size: 300px;
        background-position: 15px 380px;
        padding: 0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


/*-------------------------Notification-----------------------------*/

.loupe {
    position: relative;
}

.search_box .search_box_txt:focus {
    border: 1px solid #a7a7a7;
}

.pos_cahrt {
    position: absolute;
    top: 15px;
    left: 15px;
}

.visiter {
    font-size: 24px;
    color: #333;
}

.visiter_num {
    font-size: 24px;
    color: #fbbc03;
}

.this_week {
    color: #333
}

.this_week_num {
    color: #fbbc03;
    font-size: 18px;
}

.chartCss1,
.chartCss2 {
    background: #fff;
    padding-top: 30px;
    position: relative;
    -webkit-box-shadow: 0 0 5px 0 #ddd;
    box-shadow: 0 0 5px 0 #ddd;
}


.new_leads_pos {
    position: absolute;
    top: 15px;
    left: 15px;
}

.new_leads {
    font-size: 24px;
    color: #333;
}

.new_leads_txt {
    font-size: 36px;
    color: #fbbc03;
    margin-top: -15px;
}

.euro_sign,
.num_350 {
    font-family: futuraBook;
}

.media_acquisti {
    font-family: sans-serif;
}

#chart1 {
    margin-top: 100px;
}

#chart1 svg {
    width: 90% !important;
    height: auto !important;
}

#chart1 rect.highcharts-button-box,
#chart1 .highcharts-button,
#chart1 .highcharts-legend-item {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

#chart1 .highcharts-container {
    height: 320px !important;
    width: 100% !important;
}

#chart2 .highcharts-container {
    height: 330px !important;
    width: 100% !important;
}

#chart2 svg {
    width: 80% !important;
    height: auto !important;
    position: absolute;
    right: 0 !important;
    top: 0px !important;
}

#chart2 rect.highcharts-button-box,
#chart2 .highcharts-button,
#chart2 .highcharts-legend-item {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

.profit_txt_percentage {
    font-size: 36px;
    color: #fbbc03;
}

.main_wrapper {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #f6f6f6;
    margin-left: 85px;
    padding-bottom: 150px;
}

.first_effect_sidebar {
    position: absolute;
    top: 0;
}

.inside_icon {
    margin-right: 10px;
}

.dashboard_inside_icon_add {
    margin-left: 7px !important;
}

.sidenav {
    height: 100%;
    width: 85px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #3a3839;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
    overflow: hidden;
}

.sidenav:hover {
    overflow-y: auto;
}

.sidenav a {
    padding: 15px 8px 0 20px;
    width: 100%;
    height: 60px;
    text-decoration: none;
    font-size: 16px;
    color: #a5a5a5;
    display: block;
    transition: 0.3s;
    background: #3a3839;
    margin-bottom: 5px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#toggleNaviagtion {
    position: fixed;
    top: 0;
    background: transparent;
    left: 0;
    right: 0;
    width: 85px;
    height: 60px;
    z-index: 1;
}

.mt_list1 {
    margin-top: 0;
}

.effect_sidebar:hover {
    /*background: #2b2b2b;*/
    overflow: hidden;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.inside_icon::before {
    display: none;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.widthToggle {
    width: 250px;
    transition: 0.5s;
}

.marginLeft {
    margin-left: 250px;
    transition: 0.5s;
}

.fadeBackground {
    background: rgb(246, 246, 246);
}


/*:::::::::::::::::::::::::::::Start Dashboard:::::::::::::::::::::::::::*/

.brand_lg {
    width: 50px;
}

.nav_footer {
    position: relative;
    top: 70px;
    right: 0;
    width: 100%;
}

.widget_txt {
    font-size: 24px;
    font-family: futuraBook;
    color: #333;
}

.box_shadow {
    -webkit-box-shadow: 0 0 5px 0 #ddd;
    box-shadow: 0 0 5px 0 #ddd;
}

.bg_white {
    background: #fff
}

.widget article {
    background: #fff;
    padding: 15px;
    padding-bottom: 5px;
}

.userImgText {
    padding-left: 0 !important;
}

.userImg {
    padding-right: 5px;
}

.pos_top1 {
    margin-top: 0px !important;
}


/*--------------------------------------Start scrollbar---------------------------------------*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}


/*--------------------------------------End scrollbar---------------------------------------*/

.alertsucess_message {
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    position: absolute !important;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 31%;
    height: 50px;
    line-height: 15px;
    text-align: left;
    z-index: 999999;
    color: white;
    background: #489148;
}

.alertsucess_message .s_close,
.alertsucess_message .s_close span {
    color: white !important;
    opacity: 1 !important;
}

.sucess_message {
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 0px;
    position: absolute !important;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 24%;
    height: 41px;
    line-height: 15px;
    text-align: left;
    z-index: 999999;
    color: white;
}

.add_dydnamic1_add {
    margin-bottom: 140px
}

.fiexd_right {
    position: absolute;
    top: 81px;
    right: 15px;
    width: 260px;
}

.add_invisible_scroll {
    /*background: #999;*/
    margin-top: 80px;
    margin-right: 300px;
    max-height: 615px;
}

.add_invisible_scroll:hover {
    overflow-x: hidden;
    overflow-y: scroll;
}

.logo {
    display: block;
    clear: both;
}

.mydiv {
    position: absolute;
    z-index: 1;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 30px;
    left: 217px;
    bottom: 55px;
}

.mydivheader {
    padding: 0;
    cursor: move;
    z-index: 10;
    background-color: #fff;
    color: #000;
    width: 0;
    height: 0;
    border-radius: 50px;
    overflow: hidden;
}

.mydivheaderAdd {
    width: 400px;
    height: 254px;
    padding: 10px;
    background: #fff;
    position: absolute;
    right: -30px;
    border: 1px solid #999;
    padding-top: 0;
    padding-bottom: 0;
}

.notification_inn3 {
    z-index: 1;
}

.border_right2 {
    border-right: 2px solid #999;
}

.border_top2 {
    border-top: 2px solid #999;
}

.text_funnel1 {
    text-align: center;
    height: 120px;
    line-height: 130px;
    font-size: 18px;
}

.figure_icon {
    position: absolute;
    z-index: 1;
    /*top: 170px;*/
    border: 1px solid #999;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    left: 100%;
}

.figure_icon_add {
    left: 39%;
    top: 80px;
}

.notifications_delete {
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 40px;
    height: 40px;
    display: block;
    background: transparent;
    padding-left: 13px;
    padding-top: 11px;
}

.select_box_1_parent {
    position: relative;
}

.select_box_1 {
    height: 35px;
    width: 83%;
    background: #fff;
    margin-bottom: 50px;
    padding: 8px;
    padding-left: 15px;
    box-shadow: 0 0 5px 0 #ddd;
    border-radius: 5px;
}

.visualize_txt {
    color: #b5b5b5;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.select_box_1_parent .arr_1 {
    border-radius: 50% !important;
    height: 35px;
    width: 35px;
    margin-left: 22px !important;
    box-shadow: 0 0 !important;
    outline: 0 !important;
    background: #333;
    color: white !important;
    z-index: 0 !important;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    position: absolute;
    left: 77%;
    top: 0;
}

.select_box_1_parent .plus_icon {
    float: right;
    padding-right: 5px;
}

.chk1 {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    /*margin-bottom: 12px;  */
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chk1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 7px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fbbc03;
}

.chk1:hover input~.checkmark {
    background-color: #f5f5f5;
}

.chk1 input:checked~.checkmark {
    background-color: #fbbc03;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.chk1 input:checked~.checkmark:after {
    display: block;
}

.chk1 .checkmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.multi_select_parent {
    width: 75%;
    position: absolute;
    top: -10px;
}

.arrow {
    float: right;
    margin-right: 0;
    margin-top: -28px;
    font-size: 24px;
    display: inline-block;
    width: 50px;
    text-align: center;
    transition: 0.5s;
    color: #999;
}

.arrow_transform {
    transform: rotate(180deg);
    transition: 0.5s;
}

.multi_slect_inner li {
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.percentage_span_list {
    line-height: 20px !important;
}

.multi_slect_inner {
    list-style: none;
    margin: 0;
    border: 0;
    border-top: 0;
    box-shadow: 0 3px 2px 0 #ddd;
    padding: 5px;
    width: 100%;
    height: 0;
    background: #fff;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    top: -47px;
    display: none;
}

.multi_slect_inner_height {
    height: 350px;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 4;
}

.visualize {
    padding-left: 19px;
    margin-top: -8px;
    font-size: 18px;
    color: #999;
    display: inherit;
}

.multi_slect_inner li:hover {
    background: #f5f5f5;
}

.changer1 {
    display: inline-block;
    padding-top: 10px;
    padding-left: 8px;
    font-size: 14px;
    padding-right: 0px;
}

.name_mario {
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 15px;
}

.text_email {
    font-weight: 200 !important;
}

.acquisti_effettuati {
    height: 160px;
}

.euro_sign {
    font-size: 48px;
    line-height: 0;
}


/*===== The progress CSS =====*/

.progress1,
.progress2 {
    width: 75px;
    height: 75px;
}

.progress1 .track,
.progress1 .fill {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 3;
    transform: rotate(90deg)translate(0px, -80px);
}

.progress1 .track {
    stroke: rgb(244, 244, 244);
}

.progress1 .fill {
    stroke: rgb(255, 255, 255);
    stroke-dasharray: 219.99078369140625;
    stroke-dashoffset: -219.99078369140625;
    transition: stroke-dashoffset 2s;
}

.progress1.blue .fill {
    stroke: rgb(251, 188, 3);
}

.progress1.realtime .fill,
.progress1.acquisti_graph2 .fill .progress1.profit2 .fill {
    stroke: #4CAF50;
}

.acquisti_graph1 .fill,
.profit1 .fill {
    stroke: #e87575 !important;
}

.highcharts-grid path {
    stroke: transparent;
}

.progress1.realtime text,
.acquisti_graph2 text,
.progress1.acquisti_graph2 text,
.progress1.profit2 text {
    fill: #4CAF50;
    font-size: 18px;
}

.acquisti_graph2 .yellow_txt {
    fill: #4CAF50 !important;
}

.acquisti_graph1 text,
.profit1 text {
    fill: #e87575 !important;
}

.progress1.profit2 .fill,
.acquisti_graph2 .fill {
    stroke: #4CAF50 !important;
}

.progress1 .value,
.progress1 .text {
    font-family: 'Open Sans';
    fill: rgb(251, 188, 3);
    text-anchor: middle;
}

.progress1 .text,
.value {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.list_top_icon {
    float: right;
    padding-right: 55px;
}

.list_top_icon .text_email {
    position: absolute;
    right: 10px;
    font-size: 13px;
    top: 40px;
}

.main_wrapper {
    background: #f6f6f6 url(../images/transparent_bg.png) no-repeat;
    background-position: 345px 188px;
    background-size: 435px 327px;
    overflow: hidden;
}

.euro_sign_p {
    font-size: 36px;
    color: #fbbc03;
    text-align: center;
    margin: 0;
    font-weight: 600;
    margin-top: -30px;
    z-index: 1;
    position: relative;
}

.facebookAds_p {
    z-index: 1;
    position: relative;
}

.search_box {
    position: absolute;
    right: 283px;
    top: 17px;
    display: block !important;
}

.search_box .search_box_txt {
    border: 1px solid #ffffff !important;
    outline: 0;
    height: 40px;
    width: 350px;
    padding: 15px;
    font-size: 15px;
    transition: 0.5s;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 5px 0 #ddd;
    box-shadow: 0 0 5px 0 #ddd;
}


/*--------------------Start date range picker----------------------------- */

[data-range-key="Custom Range"],
.drp-buttons .drp-selected {
    display: none !important;
}

.daterangepicker .ranges {
    float: right !important;
}

.daterangepicker.show-calendar .ranges {
    margin-top: 40px !important;
}

.daterangepicker .ranges li {
    font-size: 14px !important;
    padding: 15px 12px !important;
    border: 1px solid #ddd;
    margin-right: 10px !important;
    margin-bottom: 5px !important;
    border-radius: 5px !important;
    line-height: 2px !important;
    font-style: italic;
    height: 25px !important;
}

.daterangepicker .ranges li.active {
    background-color: #333 !important;
    color: #fff !important;
}

.drp-buttons .btn {
    width: 100px;
    height: 35px;
    border: 0;
    color: #fff;
    outline: 0 !important;
    box-shadow: 0 0 !important;
    cursor: pointer;
}

.drp-buttons .cancelBtn {
    background: #ddd !important;
    color: #333;
    text-transform: uppercase;
}

.drp-buttons .applyBtn {
    background: #3a3839 !important;
    font-weight: 400 !important;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #fbbc03 !important;
    border-radius: 0 0 !important;
}


/* .header_first {
            margin-bottom: 20px;
        }
        */

.logo>img {
    margin-top: 10px;
}


/*--------------------End date range picker----------------------------- */

.pyramid_block {
    background-color: #fff;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
    height: 340px;
    -webkit-box-shadow: 0 0 5px 0 #ddd;
    box-shadow: 0 0 5px 0 #ddd;
}

#pyramid_chart1 {
    top: -92px;
    position: relative;
    left: 0;
}

#pyramid_chart2 .highcharts-container svg {
    margin-top: 5px !important;
}

#pyramid_chart1 svg {
    width: 100% !important;
    height: 365px !important;
    margin-top: 30px;
}

#pyramid_chart1 svg .highcharts-contextbutton,
#pyramid_chart1 .highcharts-credits,
.highcharts-root .highcharts-contextbutton {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.percentage_span {
    font-weight: 300 !important;
}

.myChart1_overlay {
    margin-top: 40px;
}

#column_chart1 {
    margin-top: 75px;
}

.highcharts-credits,
.highcharts-legend-item,
#column_chart1 .highcharts-yaxis-labels,
#pyramid_chart1 .highcharts-yaxis-labels,
#pyramid_chart2 .highcharts-yaxis-labels,
#pyramid_chart3 .highcharts-yaxis-labels {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

#column_chart1 #highcharts-mxqs7a0-0 {
    width: 100% !important;
    height: auto !important;
    margin-top: 50px !important;
}

.limit_width {
    width: 260px;
    float: right;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


#pyramid_chart1 .highcharts-container {
    width: 450px !important;
    right: 35px;
}

.cls_doller_257 {
    font-family: roboto light;
    font-weight: 300 !important;
}

.new_chart_pos1 {
    position: relative;
    top: 10px;
    left: 0px;
    z-index: 1;
}

.new_chart_pos2 {
    position: absolute;
    top: 0;
    right: 0;
    left: -40px;
}

#areaChart .highcharts-container svg {
    width: 650px !important;
}

#areaChart svg .highcharts-axis-labels.highcharts-yaxis-labels {
    display: none;
}

.effect_sidebar {
    position: relative;
    overflow: hidden;
}

.ripple_effect {
    width: 100%;
    height: 100%;
    background: rgba(155, 155, 155, 0.1);
    position: absolute;
    border-radius: 100%;
    transform: scale(0);
    pointer-events: none;
    transition: 0.8s;
}

.ripple_effect.animate {
    -webkit-animation: ripple_effect 0.8s;
    animation: ripple_effect 0.8s;
}

@-webkit-keyframes ripple_effect {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

@keyframes ripple_effect {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

.overlap_nav_width {
    width: 250px !important;
    -webkit-transition: 1s;
    transition: 1s;
}



.facebook_ads {
    -webkit-transition: 1s;
    transition: 1s;
}

.open_dydnamic2 {
    height: 80px;
    overflow: hidden;
    -webkit-transition: 1s;
    transition: 1s;
}

.add_dydnamic2_add {
    height: auto;
    overflow: hidden;
    -webkit-transition: 1s;
    transition: 1s;
}

.arrow_list:hover,
.arrow_list {
    background: #fff !important;
}

.open_dydnamic1 {
    height: 138px;
    overflow: hidden;
}

.pyramid_chart2_parent {
    position: absolute;
    left: 140px;
    bottom: 0;
    display: none;
}

.pos_top1 {
    padding-right: 10px;
}

.create_funnel {
    font-weight: 400 !important;
    font-size: 15px !important;
}

.create_funnel_bg {
    background: #fbbc03 !important;
    border-radius: 7px;
    color: #fff !important;
    border: 1px solid #fbbc03 !important;
}

.create_funnel_btn {
    border: 1px solid #999;
    width: 100%;
    height: 35px;
    line-height: 20px !important;
    font-size: 18px !important;
    color: #333;
    margin-bottom: 15px !important;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 0 !important;
    outline: 0 !important;
}

.import_funnel {
    background: #333 !important;
    border-radius: 7px;
    color: #fff !important;
    border: 1px solid #333 !important;
}

.chartCss2 {
    height: 200px;
}

.chartCss1 {
    height: 378px;
    overflow: hidden;
}

div.relative_add1 {
    position: absolute;
    top: 143px !important;
    right: auto !important;
}

.menu_left {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    border-radius: 20px;
}

.bar2 {
    width: 26px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    -moz-transform: rotate(-45deg) translate(-7px, 6px);
    -ms-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    -moz-transform: rotate(45deg) translate(-6px, -6px);
    -ms-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

#toggleNaviagtionCross {
    position: relative;
}

#toggleNaviagtionCross .dashboard {
    position: absolute;
    top: 25px;
    left: 64px;
}

.dashboard_inside_icon {
    display: inline-block;
    white-space: nowrap;
    margin-left: 30px;
    position: relative;
    top: -11px;
}

.dashboard_ml {
    margin-left: 5px;
}

.inside_icon img {
    margin-top: -2px;
}

.input_visualize {
    border-color: #ddd;
    border-radius: 5px !important;
    height: 40px;
    box-shadow: 0 0 !important;
    outline: 0 !important;
    z-index: 0 !important;
}

.date_two_picker {
    border-radius: 50% !important;
    height: 35px;
    width: 35px;
    margin-left: 10px !important;
    box-shadow: 0 0 !important;
    outline: 0 !important;
    background: #333;
    color: white !important;
    z-index: 0 !important;
}

.daterangepicker.show-calendar .drp-buttons {
    display: block;
    padding-right: 200px;
}

.arr_1_add {
    left: 77% !important;
}

.circle_pos {
    left: 174px;
}

.toggle_cls1grph {
    margin-left: -17px !important;
}

.inthisweek {
    top: 5px !important;
}

.highcharts-root .highcharts-button {
    display: none !important
}

#areaChart .highcharts-container {
    height: 300px !important
}

#areaChart .highcharts-legend {
    display: none !important
}

.inweek_pos {
    position: relative
}

.inthisweek {
    position: absolute;
    top: 15px;
    right: 15px;
}

.plus_5_percent span {
    font-size: 18px;
}

#myChart1 {
    height: 100% !important;
}


/*------------------ Top Notification ---------------*/

.list_top_icon li {
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.notification_list {
    background: #fff;
    z-index: 1;
    padding: 0;
}

.notifications .notification_inn article::before,
.notifications .notification_inn2 article::before,
.notifications .notification_inn3 article::before {
    display: none;
}

.notifications>img,
.loupe>img {
    width: 20px;
    display: inline-block;
}

.notifications .notification_inn,
.notifications .notification_inn2,
.notifications .notification_inn3 {
    position: absolute;
    z-index: 1;
    width: 264px;
    top: 65px;
    right: 25px !important;
    display: none;
}

.notifications .notification_inn2 {
    right: 10px !important;
}

.notifications .notification_inn3 {
    right: 0 !important;
}

.notifications .notification_inn article,
.notifications .notification_inn2 article,
.notifications .notification_inn3 article {
    position: relative;
}

.notification_inn .notification_list,
.notification_inn2 .notification_list,
.notification_inn3 .notification_list {
    box-shadow: 0 0 5px 0 #ddd;
    border: 0;
    border-radius: 0 0 !important;
}

.notification_inn .notification_list li,
.notification_inn2 .notification_list li,
.notification_inn3 .notification_list li {
    border: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #f1f1f1 !important;
    border-radius: 0 0 !important;
}

.notification_inn .notification_list li:hover,
.notification_inn2 .notification_list li:hover,
.notification_inn3 .notification_list li:hover {
    background: #ddd !important;
}

.notification_inn:hover,
.notifications:hover .notification_similar {
    display: block;
}

.notification_similar ul li {
    padding-bottom: 9px !important;
}

.notification_similar ul li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.loupe>img {
    margin-top: -5px;
}

.loupe:hover>img,
li.notifications:hover img {
    opacity: 0.55;
}

.same_userImg:hover img,
.user_same_userImg:hover img {
    opacity: 1 !important;
}

#pyramid_chart2 .highcharts-container {
    height: 425px !important;
    top: 35px !important;
}

@media (max-width: 1024px) and (min-width: 991px) {
    .same_userImg {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .list_top_icon {
        float: right;
        padding-right: 0;
    }

    .notifications>img,
    .loupe>img {
        position: relative;
        right: 10px;
    }

    .new_width_class2 {
        padding-left: 25px;
    }

    .media_acquisti_giornallera {
        margin-top: 0 !important;
    }
}


/*-------------- ipaid Pro-------------------------*/

@media (min-width: 991px) and (max-width: 1200px) {

    /* .limit_width {
                width: 100% !important
            }*/
    .search_box .search_box_txt {
        width: 280px !important
    }

    .arr_1_add {
        left: 73% !important;
    }

    .marginLeft {
        margin-left: 200px !important
    }

    .overlap_nav_width {
        width: 200px !important;
    }

    .widthToggle {
        width: 200px !important;
    }

    .main_wrapper {
        background-position: 200px 188px !important;
    }

    .userImg {
        position: initial;
    }

    /*.user_same_userImg {
                position: relative;
                top: -20px;
                right: -150px;
            }*/
    .list_top_icon .text_email {
        right: 0px;
    }

    /*  .search_box {
                right: 390px;
                -webkit-transition: 0.5s;
                transition: 0.5s;
            }*/
    .search_box_add1 {
        position: absolute;
        right: 333px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .search_box_add1 .search_box_txt {
        width: 235px !important;
    }

    .list_top_icon .text_email {
        position: static !important;
        margin-top: -10px;
        margin-left: 34px;
    }

    .logo>img {
        width: 200px;
    }
}

@media (min-width: 1920px) {
    #areaChart .highcharts-container svg {
        width: 650px !important;
        left: 200px;
        position: absolute;
    }
}

@media (min-width: 1920px) and (max-width: 2000px) {
    .new_width_class1 {
        width: 60%;
        float: left;
    }

    .new_width_class2 {
        width: 15%;
    }
}

@media (min-width: 1800px) and (max-width: 1919px) {
    .new_width_class1 {
        width: 58%;
    }

    .new_width_class2 {
        width: 13%;
        float: right;
    }

    #pyramid_chart3 .highcharts-container svg {
        width: 630px !important;
    }

    .add_dydnamic1 {
        width: 700px !important;
        height: 400px !important;
    }

    #pyramid_chart3 .highcharts-container svg {
        height: 470px !important;
    }

    #areaChart .highcharts-container svg {
        height: auto !important;
        min-height: 350px !important;
    }

    #areaChart .highcharts-container svg {
        width: 745px !important;
    }
}

@media (min-width: 1700px) and (max-width:1799px) {
    .new_width_class1 {
        width: 57%;
    }

    .new_width_class2 {
        width: 15%;
        float: right;
    }
}

@media (min-width: 1501px) and (max-width:1699px) {
    .new_width_class1 {
        width: 55%;
    }

    .new_width_class2 {
        width: 15%;
        float: right;
    }
}

@media (min-width: 1400px) and (max-width:1500px) {
    .new_width_class1 {
        width: 52%;
    }

    .new_width_class2 {
        width: 15%;
        float: right;
    }
}

@media (min-width: 1300px) and (max-width:1399px) {
    .new_width_class2 {
        width: 15%;
        float: right;
    }
}

@media (min-width: 1200px) and (max-width:1299px) {
    .new_width_class1 {
        width: 49%;
    }

    .new_width_class2 {
        width: 25%;
        float: right;
    }
}


/*---------------login----------------------*/
.faq_support {
    text-align: right;
    float: right;
    color: #FDBB17 !important;
    margin-bottom: 30px;
    margin-top: 20px;
}

.login_page {
    padding-bottom: 30px;
}

@media (max-width: 767px) {

    .login_page {
        background-position: 15px 480px !important;
    }

    span::before {
        background: #ffffff;
    }

    .faq_support {
        padding-right: 15px
    }



}

#overflow_y {
    overflow-y: auto !important;
}

/*---------------login----------------------*/



#areaChart {
    position: absolute;
    right: -85px;
    width: 700px;
}

.alert-warn {
    background: #d35351 !important;
}

.email-animation {
    animation-name: faded;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes faded {
    0% {

        opacity: 0;
        position: absolute;
        left: 100%
    }

    100% {
        opacity: 1;
        position: absolute;
        left: 50%;

    }
}


.sucess_message {
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 0px;
    position: absolute !important;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 24%;
    height: 41px;
    line-height: 15px;
    text-align: left;
    z-index: 999999;
    color: white;
}

.s_close {
    line-height: 15px;
}

.faq_support {
    text-align: right;
    float: right;
    color: #FDBB17 !important;
    margin-bottom: 30px;
    margin-top: 20px;
}

.login_page {
    padding-bottom: 30px;
}


.line>span {
    background: #fff;
    display: block;
    width: 30px;
    height: 30px;
    left: 48%;
    top: 7px;
    border-radius: 15px;
    text-transform: uppercase;
    line-height: 32px;
    box-shadow: 0 0 5px 0 #ddd;
    font-size: 12px;
}


@media (max-width: 767px) {

    .login_page {
        background-position: 15px 480px !important;
    }

    span::before {
        background: #ffffff;
    }

    .faq_support {
        padding-right: 15px
    }
}

/* ------------header------------ */
.wp-separator {
    background-color: #EEE;
    margin-bottom: 15px;
}

.descrip {
    font-size: 15px;
    text-align: justify;
}

.item {
    padding-bottom: 20px;
}

.thumbnail {
    border-radius: 0;
}