@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

.progress-bar {
    height: 14px;

    background: #f58b3c;

    width: 47px;

    text-align: center;

    border-radius: 4px;

    border: none;

}

.pp {
    border-top-right-radius: 4px;
    background: #d7d4d4;
    border-bottom-right-radius: 4px;
}

.sldre_top {
    margin-top: 14px;

}

.section1,
.section22,
.section33 {

    padding: 30px 0px 0px 0px;

}



.section1 i {
    border: 5px solid #5DDDD3;
    border-radius: 50%;
    padding: 56px;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    font-size: 42px;
    color: #5DDDD3;
}

.section22 i {
    border: 5px solid #90DFAA;
    border-radius: 50%;
    padding: 56px;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    font-size: 42px;
    color: #90DFAA;
}



.section33 i {
    border: 5px solid #FD8469;
    border-radius: 50%;
    padding: 56px;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    font-size: 42px;
    color: #FD8469;
}


.lib-panel {
    margin-bottom: 20Px;
}

.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}

.lib-panel .lib-row.lib-desc a {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -moz-box-shadow:0 0 10px 0 rgba(0, 0, 0, .10);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
}

.no-padding {
    padding: 0;
}



.ourTeam-hedding {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../demo/hands-joined.jpg');
    height: 200px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, .10));
}

.ourTeam-hedding h1 {
    color: #fff;
    padding: 70px 0px;
    font-weight: 900;
    z-index: 1;
}

.ourTeam-box {
    border-top: 6px solid #5DDDD3;
    background-color: #FFFFFF;
}

.section1 {
    padding: 30px 0px 0px 0px;
}

.section1 img {
    border: 5px solid #5DDDD3;
    padding: 5px;
    border-radius: 50%;
    height: 170px;
    width: 170px;
}

.section2 h1 {
    font-size: 20px;
    color: #C1C1C1;
    margin: 0px;
    border-bottom: 2px solid #5DDDD3;
    display: inline-block;
    padding: 10px 0px;
}

.section2 p {
    background-color: #5DDDD3;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    margin-top: -20px;
}

.section2 span {
    color: #979597;
}

.section2 label {
    background-color: #5DDDD3;
    padding: 8px 10px 8px 10px;
    color: #fff;
    font-weight: normal;
    margin: 30px 0px 35px 0px;
    border-radius: 2px;
}

.section3 p {
    padding: 10px 15px 0px 15px;
    font-size: 12px;
    color: #c3c9c9;
}

.section4 {
    padding: 10px 0px 50px 0px;
}

.section4 i {
    color: #fff;
    padding: 3px;
    border-radius: 2px;
    font-size: 12px;
    background-color: #5DDDD3;
    cursor: pointer;
}

.section-info {
    border-top: 6px solid #90DFAA;
}

.section-danger {
    border-top: 6px solid #FD8469;
}

.section-info .section1 img {
    border: 5px solid #90DFAA;
    padding: 5px;
}

.section-info .section2 p {
    background-color: #90DFAA;
    color: #fff;
}

.section-danger .section2 p {
    background-color: #FD8469;
    color: #fff;
}

.section-danger .section1 img {
    border: 5px solid #FD8469;
    padding: 5px;
}

.section-info .section4 i {
    background-color: #90DFAA;
}

.section-danger .section4 i {
    background-color: #FD8469;
}

.section-info .section2 h1 {
    border-bottom: 2px solid #90DFAA;
}

.section-danger .section2 h1 {
    border-bottom: 2px solid #FD8469;
}






.mb-60 {
    margin-bottom: 60px;
}

.services-inner {
    border: 2px solid #f58b3c;
    margin-left: 35px;
    transition: .3s;
}

.our-services-img {
    float: left;

    margin-left: -22px;

    margin-right: 21px;

    margin-top: 16px;

    border: solid 1px #dadada;

    padding: 10px;
}

.our-services-text {
    padding-right: 10px;
}

.our-services-text {
    overflow: hidden;
    padding: 28px 0 25px;
}

.our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}

.our-services-text h4::before {
    background: #ec6d48 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}

.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.our-services-text p {
    margin-bottom: 0;
}
.hoh_btn {
    background: #f58b3c;
    color: white;
}

.fnewcontent {
    padding-bottom: 19px;
    margin-top: -95px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    padding-top: 16px;
}

.fnewcontent button {
    margin-bottom: 10px;

}

.fnewcontent h1 {
    font-size: 22px;
    font-weight: 600;
}

.location_near {
    background-image: url(../img/all_destination_city1.jpg);
    width: 100%;
    height: 303px;
    margin-top: -8px;

}


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;

    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 0px 18px;
    text-decoration: none;
    display: block;
    text-align: left;

    font-size: 13px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.sucess_message {
    margin: 0;
    margin-bottom: 0px;
    position: absolute !important;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 24%;
    height: 41px;
    line-height: 15px;
    text-align: left;
}

.s_close {
    line-height: 13px !important;
}


.rigister_content {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 12px;
}

.btn-submit {
    border: #f58b3c solid 1px;
    background: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    color: rgb(57, 76, 95);
    background-color: rgb(250, 250, 250);
    padding: .375rem 125px;
}

.full-content-div {
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

ul.index-content {
    list-style: none;

}

ul.index-content li {
    line-height: 35px;
}

ul.index-content li::before {
    position: absolute;
    left: 0px;
    padding-top: 3px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    content: "✓";
    margin: 4px 25px;
    transition: all 0.2s ease 0s;
    background: #f58b3c;
    border-radius: 50%;
}





.form-panell,
.re-form-panell {
    margin-bottom: 25px;
    height: auto;
    padding: 30px 36px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    margin-top: 45px;
}

.btn-renew:hover {
    background: #f58b3c;
    color: white;

}


.btn-renew {
    border: #f58b3c solid 1px;

    padding: 10px 108px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: #f58b3c solid 1px;
    background: white;
    padding: 10px 107px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    color: rgb(57, 76, 95);
    background-color: rgb(250, 250, 250);


}

.through_f {
    font-size: 20px;
    font-weight: 600;
}

ul.rigister {
    list-style: none;

}

ul.rigister li {
    line-height: 34px;
}

ul.rigister li::before {
    position: absolute;
    left: 0px;
    padding-top: 3px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    content: "✓";
    margin: 5px 10px;
    transition: all 0.2s ease 0s;
    background: #f58b3c;
    border-radius: 50%;
}

.form-right {
    float: right;
}

.header_one {
    background: #000000;
    background-color: rgb(255, 255, 255);
    height: 56px;
}

.member_login {

    text-align: center;
    background: #f9f9f9;
    background-color: rgb(249, 249, 249);
    margin: 0 auto;
    color: rgb(57, 76, 95);
    font-weight: 600;
    background-color: rgb(250, 250, 250);
    font-size: 18px;
    text-decoration: none;
    width: 170px;
    line-height: 40px;
    border-radius: 10px;
}

.member_login:hover {
    background: rgb(57, 76, 95);
    color: white;

}

.mem_login a {
    color: rgb(57, 76, 95);
}

.through_f h3 {
    font-size: 19px;
    text-align: center;
    line-height: 34px;
}


.headeryy {
    background-color: #3A3839;
    color: white;
}

.through_f h3 span {
    font-weight: 600;

}

.memeberlogin_user {
    font-weight: 600;
    color: white;
    font-size: 18px;
    margin-top: 11px;
}

.body_coustm {
    padding-top: 5px;
    padding-bottom: 15px;
    outline: none;

    border-color: rgb(24, 142, 197);

    margin-top: -8px;
}

.unel {
    text-align: center;

    font-size: 15px;
    font-family: 'proxima-nova-soft';
    font-weight: 600;
}

.were {
    margin-top: 0px;
    outline: none;
    cursor: pointer;
    font-family: Caveat, Helvetica, sans-serif !important;
    text-align: center;
    font-size: 23px;
    color: white;
}

.contente {
    padding-top: 15px;
}

.bagre_red {
    text-align: center;

    font-size: 20px;

    color: rgb(255, 255, 255);

    background-color: rgb(229, 80, 63);
}

.bagre_red::before {
    content: '';

    position: fixed;

    left: 35px;

    bottom: 259px;

    width: 15px;

    height: 15px;

    background-color: inherit;

    transform: rotate(45deg);

    -webkit-transform: rotate(45deg);

    right: 525px;
}

.bagre_red {

    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(229, 80, 63);
    margin-top: 22px;
    font-weight: 600;
    border-radius: 5px;

}

.backround_grenn {


    background-color: rgb(245, 249, 252);
    border: 6px solid rgb(60, 155, 214);
    margin-top: 26px;

}

.yyrgrren {
    text-align: center;

    font-size: 20px;

    font-weight: 600;

    padding-top: px;
}

.logo img {
    width: 231px;
    margin-top: 6px;
}

/* .member_login i {
    color: #f58b3c;
} */

.mkl {
    background: #fbfbfb;
    height: 144px;
    padding: 27px 38px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    margin-top: 19px;
    font-weight: 600;
}

.through_f h3 i {
    color: white;
}

.mkr {
    margin-bottom: 25px;
    height: auto;
    padding: 30px 36px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    margin-top: 45px;
}

.need_book {
    font-size: 18px;
    font-weight: 700;
}

.why_thrillophilia_data {
    margin-top: 0px;

    list-style-type: none;

    text-align: left;

    margin-left: -38px;


}

.list_items {
    padding-left: 0px;

    line-height: 2;

    padding-top: 7px;

    cursor: pointer;
}

.list_items i {
    color: #f58b3c;
}


.card {
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    color: #4f5256;
    border: 1px solid #f2f2f2;
    margin-bottom: 16px;
    background: #fff;
}

.card-header {
    padding: 16px;
    margin: 0px;
}

.card-body {
    position: relative;
    padding: 16px;
}

.gaadiex-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gaadiex-list>.gaadiex-list-item {
    padding: 0 22px;
}

.gaadiex-list-item-img {
    float: left;
    width: 58px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}

.gaadiex-list-item i {
    float: left;
    font-size: 48px;
    width: 58px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}

.border-b-1 {
    border-bottom: 1px solid rgba(162, 162, 162, .16);
}

/*footer*/
.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #2e2e2e;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

 /* home index */
.all-1{
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top: -8px
}
.sales-part{
    top: 0%;
    height: 550px;
    background: #000000;
}
.background-images  img{
    width:100%;
    height:500px;
    margin-top: -233px;
}
.groupimage{
    float: right;
    z-index: 3;
    margin:63px;
    background-size: cover;
    width: 150px;
    height: 150px;
    background-image: url(../../images/Group\ 4.png)
}
.topage{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.video-top{
    margin-left: 46px;
    float: right;
    margin-right: 80px;
    width: 650px !important;
    margin-top: -462px !important;
}
.titel-letter{
    padding-top: 79px;
    color:white;
    text-align: center;
    line-height: 47px;
}
.quickly-letter{
    font-size: 37px;
}
.sales-letter{
    font-size:72px;
    font-family: "Source Sans Pro", Helvetica, sans-serif !important;
}
.letter-2{
    font-size: 34px;
}
#convert-letter{
    font-weight: bold;
}
.thumbnail-1{
    width: 100%;
    height: 550px;;
    
}
.background-images{
    width: 100%;
    /* background: url('../images/Risorsa 6.png'); */
    height: 500px;
    /* background-size: cover; */

}
.btn-coustomize{
    padding:15px !important;
    font-size: 34px !important;
    font-family: "Source Sans Pro", Helvetica, sans-serif !important;
    background-color: #FBBC03 !important;
    border-color: #FBBC03 !important;
    color: white;
    border-radius: 10px;
}
#btn-set{
    text-align: center;
    margin-top: 30px;

}

h2,p{
    font-family: 'Roboto', sans-serif;
}
.gray_text{
    color: #707070;
}
/* index section no. 2 css */

.video_description_text > h2,
.video_description_text > p{
    font-size:2.5rem;
}
.video_description_text > p{
    color: #3a3839;
    line-height: 1.1;
}
.demo_main {
    margin-top: -140px;
}
.sales-part {
    padding-bottom: 140px;
    height: auto;
}
.sitecontainer{
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right:15px;
}
.video_description_text > h2 {
    font-weight: 900;
    
}
.total_user_wrp h2 {
    font-size: 2.7rem;
    font-weight: 300;
}
.total_user_wrp p {
    font-size: 1.6875rem;
    font-weight: 300;
}
.video_wrp {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    padding-bottom: 25px;
}
.video_wrp iframe {
    max-width: 100%;
    background: #000;
}
.watch_demo {
    padding-left: 30px;
}
.doubleCircle {
    height: 80%;
    width: 43%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../../images/Group\ 4.png);
    z-index: -1;
    background-position: bottom left;
}
.btn-coustomize span {
    font-size: 12px;
    line-height: 1;
    color: #000;
    display: block;
    margin-top: 10px;
    font-weight: 100;
}

button.btn-coustomize {
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* funnel section css */
.funnel_heading {
    font-size: 5rem;
}
.wht_funnel_main p {
    font-size: 1.375rem;
}
.funnel_pera {
    font-size: 2.1875rem;
    line-height: 1.2;
}

/* every funnel css */
.multiple_like .dark_heading{
    font-size: 3.4375rem
}
.multiple_like{
    background-color: #fafafa;
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
}
.andSomuch{
    background-color: #fafafa;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}
.andSomuch h2.dark_heading {
    font-size: 5rem;
    font-weight: 900 !important;
}
.andSomuch p {
    font-size: 1.8rem;
}
.andSomuch p span {
    font-weight: 600;
}


/* pages section css */
.blue_heading {
    font-size: 3.8125rem;
    color: #3c9bd6;
}
h6.dark_subHeading.text-center {
    font-size:2.125rem;
}
.page_text_col p {
    font-size: 2.1875rem;
    line-height: 1.3;
}
.absolute_figure {
    top: 31%;
    left: 8%;
    right:0;
}
section.pages_main {
    padding-bottom: 8% !important;
}
.trial_col_text_wrp h2{
    font-size: 2.9375rem
}
.trial_col_text_wrp p {
    font-size: 2.1875rem
}
.start_trial_btn b {
    font-size: 2rem;
    line-height: 1;
}
.start_trial_btn span {
    display: block;
    font-size:0.875rem;
}
.trial_col_text_wrp {
    max-width: 604px;
    margin-left: auto;
    margin-right: auto;
}
.start_trial_btn {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 19px !important;
    margin-left: auto;
    margin-right: auto;
}
.start_trial_main {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.siteSmallContainer {
    max-width: 1519px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
body .font-weight-bold {
    font-weight: 500!important;
}
.faq_col_inner p {
    font-size: 2.5rem;
    line-height: 1.3;
}  
.faq_col_inner h3 {
    font-size: 2.3125rem;
}
.faq_heading {
    font-size: 6rem;
    font-weight: 900;
}
.doubleCircle_wrp {
    display: inline-block;
    padding-left: 35px;
    padding-bottom: 25px;
    position: relative;
    z-index: 9;
}
.doubleCircle_wrp.right_top {
    padding-right: 35px;
    padding-top: 25px;
    padding-left: 0;
    padding-bottom: 0;

}
.doubleCircle_wrp.right_top .doubleCircle {
    left: auto;
    right: 0;
    bottom: auto;
    top: 0;
    background-position: right top;
    height: 205px;
    width: 205px;
}
/* last blue section */
.dark_head_wrp h2{
    font-size: 5rem;
    color: #ffffff;
    line-height: 1.2;
    font-weight: 900 !important;
}
.dark_head_wrp h2 a {
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff;
}
.list_list_wrp ul li {
    color: #429bd6;
    font-size: 99px;
    line-height: 0.7;}
.list_list_wrp ul li span {
    color: gray;
    font-size: 2rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
.list_wrp_inner ul {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.light_center_heading {
    font-size: 2.4375rem;
}
.Free_text_wrp p{
    font-size: 2rem;
}
.Free_text_wrp h2{
    font-size: 6.5rem;
    color: #3c9bd6 !important;
    font-weight: 900 !important;
}
.dark_head_wrp {
    background: #3c9bd6;
    text-align: center;
    padding: 20px 0;
}
section .list_list_wrp {
    background: #f5fbff;
    -webkit-box-shadow: 1px 3px 9px 3px #eee;
    box-shadow: 1px 3px 9px 3px #eee;
    padding-bottom: 100px !important;

}
.list_list_wrp .start_trial_btn {
    background: #429bd6;
    border-color: #429bd6;
    font-weight: 800;
}
.list_wrp_inner {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.get_freel_trial_main .siteSmallContainer ,
.faq_main .siteSmallContainer{
    max-width: 1228px;
}
.bootom_white_space{
    min-height: 250px;
}
ul.social_footer_ul {
    padding-left: 0;
}
.footer .container > p.text-center {
    margin-top: 20px;
}
ul.social_footer_ul li {
    padding-left: 10px;
    padding-right: 10px;
}
.dark_head_wrp h2 a:focus, .dark_head_wrp h2 a:hover,.dark_head_wrp h2 a {
    text-decoration: unset;
}
.home_top_banner {
    padding-bottom: 140px !important;
}


/* location page css */
.baner_pera_wrp h2 {
    font-size: 4.1rem;
    font-weight: 300;
}
.baner_pera_wrp h2 b {
    font-weight: 800;
}
.baner_pera_wrp p,.baner_pera_wrp_login p ,
.baner_pera_wrp_login p{
    font-size: 2.1875rem;
    line-height: 1.2;
}
section.top_banner {
    background-image: url('../images/Risorsa 6.png');
    background-color: #000;
    min-height: 690px;
    background-size: 50% 100%;
    background-position: right center;
    background-repeat: no-repeat;
}
.baner_pera_wrp p,.baner_pera_wrp_login p b {
    font-weight: 900 !important;
}
.doubleCircle_wrp.right_top.left_bottom {
    padding-left: 35px;
    padding-bottom: 25px;
}

.doubleCircle_wrp.right_top.left_bottom .doubleCircle_left {
    left: 0 !important;
    bottom: 0 !important;
    top: auto !important;
    right: auto !important;
    background-position: left bottom !important;
}
.location_main .location_pera p {
    font-size: 2.5rem;
    line-height: 1.2;
    
}

/* our story page css */
.story_inner p.gray_text {
    font-size: 2.3rem;
    line-height: 1.3;
}
.story_pera_main h2{
    font-size: 4rem;
}
.story_pera_main h2 span {
    color: #f6bb04;
}
.story_pera_main h2 img {
    max-height: 41px;
    margin-right: 12px;
}

/* start trial css */
.startTrialForm_main .doubleCircle_wrp {
    display: block;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
}
.trailForm_header {
    -moz-box-shadow:0px 4px 5px -3px #b7b2b2;
    -webkit-box-shadow:0px 4px 5px -3px #b7b2b2;
    box-shadow: 0px 4px 5px -3px #b7b2b2;
}
.trail_form_inner {
    -moz-box-shadow:0px 0px 6px -4px #000;
    -webkit-box-shadow:0px 0px 6px -4px #000;
    box-shadow: 0px 0px 6px -4px #000;
}
.trailForm_header h2 {
    font-size: 3.2rem;
    font-weight: 900;
}
.trailForm_body input {
    min-height: 79px;
    -moz-box-shadow:0px 3px 6px 1px #d8d8d8;
    -webkit-box-shadow:0px 3px 6px 1px #d8d8d8;
    box-shadow: 0px 3px 6px 1px #d8d8d8;
    font-size: 1.5rem;
}
.trailForm_btn {
    background: #fff;
    min-height: 77px;
    -moz-box-shadow:0px 3px 6px 1px #d8d8d8;
    -webkit-box-shadow:0px 3px 6px 1px #d8d8d8;
    box-shadow: 0px 3px 6px 1px #d8d8d8;
    color: #f6ba17;
    font-weight: 700 !important;
}
.trailForm_body form {
    margin-left: auto;
    margin-right: auto;
    max-width: 571px;
}
.trailForm_footer a.text-warning {
    font-size: 21px;
    text-decoration: underline;
}
.baner_pera_wrp_login h2 {
    font-size: 3.0rem;
    font-weight: 300;
}
.baner_pera_wrp_login h2 b.sales {
    display: block;
    font-weight: 900;
    font-size: 4rem;
}
.baner_pera_wrp_login h2 b:not(sales) {
    font-weight: 700;
}

/* payment form page  */
.paymentForm_body form {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    border-color: #000 !important;
}
.paymentForm_body input {
    border-width: 0 0 1px 0;
    background: transparent;
    min-height: 46px;
    font-size: 2.2rem;
    font-weight: 800;
    height: auto;
    line-height: 1;
    padding-left: 0;
}
html body .paymentForm_body input:focus {
    box-shadow: unset !important;
}

.saveCard input {
    min-height: auto;
    position: absolute;
    height: 100%;
    opacity: 0;
}
.saveCard label.form-check-label span:after {
    content: "";position: absolute;left: 0;top: 50%;transform: translateY(-50%);width: 40px;height: 40px;border: 2px solid #f6ba17;border-radius: 8px;
}
.saveCard label.form-check-label span {
    padding-left: 50px;
}
.saveCard {
    padding-left: 0 !important;
}
.saveCard label.form-check-label span:before {
    content: "";
    position: absolute;
    left: 7px;
    width: 25px;
    height: 13px;
    border: solid;
    border-width: 0px 0px 3px 3px;
    transform: rotate(-45deg);
    border-radius: 2px;
    border-color: transparent
}
.saveCard label.form-check-label span {
    position: relative;
    color: #f6ba17;
}
.saveCard input:checked ~ span:before {
    border-color: #f6ba17;
}
.confirm_btn button {
    font-size: 2.2rem;
    font-weight: 900;
    padding-left: 40px;
    padding-right: 40px;
}
.map_wraper .doubleCircle_wrp {
    display: block;
    height: 100%;
}
.trail_form_inner input[type=number]::-webkit-inner-spin-button, 
.trail_form_inner input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  -moz-appearance:none;
}
.team_person_text h2 {
    font-size: 4.3rem;
    font-weight: 900;
}
.team_person_text p {
    font-size: 2.5rem;
    line-height: 1.2;
}
.card_heading {
    font-size: 2.8rem;
}
.developer_card .card_text h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

.developer_card .card_text  h4.subheading.gray_text {
    font-size: 1.8rem;
    font-weight: 800;
}

.developer_card .card_text p {
    font-size: 1.9rem;
}
.our_team_banner .sitecontainer {
    max-width: 1600px;
}
.home_top_banner .baner_pera_wrp_login span b {
    font-weight: 800;
}
.home_top_banner .baner_pera_wrp_login span {
    font-size: 3.2rem;
}
.home_top_banner .sitecontainer {
    margin-bottom: 70px;
}
.home_top_banner button.start_trial_btn b {
    font-size: 2.6rem;
    font-weight: 900;
}
.home_top_banner button.start_trial_btn {
    border-radius: 12px;
    padding: 25px 60px 25px 60px !important
}
.wht_funnel_main img.img-fluid {
    max-height: 135px;
}







@media only screen and (min-width:1024px){
    .pages_main .col-sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 53%;
        flex: 0 0 53%;
        max-width: 53%;
    }
    
    .pages_main .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
        flex: 0 0 47%;
        max-width: 47%;
    }
    .home_top_banner .col-sm-6.col-xl-5 {-webkit-box-flex: 0;-ms-flex: 0 0 41.666667%;flex: 0 0 48.11%;max-width: 48.11%;}

    .home_top_banner .col-sm-6.col-xl-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 50.99%;
        max-width: 50.99%;
    }
}

@media only screen and (max-width:1680px){
    .video_description_text > h2, .video_description_text > p,.total_user_wrp h2 {
        font-size: 2rem;
    }
    .funnel_heading {
        font-size: 4rem;
    }
    .funnel_pera {
        font-size: 1.75rem;
    }
    .sitecontainer{
        max-width: 1400px !important;
    }
    .team_description_main .siteSmallContainer {
        max-width: 1280px;
    }
    .team_person_text h2 {
        font-size: 2.5rem;
        font-weight: 900;
    }
    .team_person_text p {
        font-size: 2.1rem;
    }
    .developer_card .card_text h2 {
        font-size: 2.1rem;
    }
    .developer_card .card_text h4.subheading.gray_text {
        font-size: 1.4rem;
    }
    .developer_card .card_text p {
        font-size: 1.3rem;
    }
    .page_text_col p {
        font-size: 1.8rem;
    }
    h6.dark_subHeading.text-center {
        font-size: 1.9rem;
    }
    .baner_pera_wrp h2{
        font-size: 3.1rem;
    }
    .baner_pera_wrp p,.baner_pera_wrp_login p {
        font-size: 1.8rem;
    }
    .location_main .location_pera p {
        font-size: 2rem;
    }
    .story_inner p.gray_text {
        font-size: 1.8rem;
    }
    .trailForm_body input,
    .trailForm_btn {
        min-height: 70px;
        font-size: 1.2rem;
    }
    .paymentForm_body input {
        font-size: 1.5rem;
    }    
    .paymentForm_body form {
        max-width: 600px;
    }
    .startTrialForm_main .doubleCircle_wrp {
        display: block;
        max-width: 943px;
    }
    .confirm_btn button {
        font-size: 1.6rem;
    }
    .card_image img {
        max-height: 216px;
    }
    .home_top_banner .baner_pera_wrp_login span {
        font-size: 2.8rem;
    }
    .home_top_banner button.start_trial_btn b {
        font-size: 2.2rem;
    }
    .home_top_banner button.start_trial_btn {
        padding: 20px 60px 20px 60px !important;
    }
    .baner_pera_wrp_login h2 b.sales {
        font-size: 3.8rem;
    }
}
@media only screen and (max-width:1450px){
    .d-xxl-none {
        display: none;
    }
    .banner_trial_text_wrp {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .blue_heading {
        font-size: 2.8125rem;
    }
    .page_text_col p {
        font-size: 1.5875rem;
    }
    .trial_col_text_wrp h2 {
        font-size: 2.2rem;
    }
    .trial_col_text_wrp p {
        font-size: 2rem;
        line-height: 1.2;
    }
    .faq_col_inner p {
        font-size: 2.1rem;
    }
    .dark_head_wrp h2 {
        font-size: 4rem;
    }    
    .story_inner p.gray_text {
        font-size: 1.4rem;
    }
    .team_person_text p {
        font-size: 1.6em;
    }
    .baner_pera_wrp_login h2 b.sales {
        font-size: 3.2rem;
    }
    .home_top_banner .baner_pera_wrp_login span {
        font-size: 2.3rem;
        line-height: 1.2 !important;
        display: inline-block;
    }
    
}
@media only screen and (max-width:1366px){
    .video_description_text > h2, .video_description_text > p,.total_user_wrp h2 {
        font-size: 1.8rem;
    }
    .letter-2 {
        font-size: 29px;
    }
    .sales-letter {
        font-size: 64px;
    }
    .funnel_pera {
        font-size: 24px;
    }
    .funnel_heading {
        font-size: 3.2rem;
    }
    .wht_funnel_main img.img-fluid {
        max-height: 100px;
    }
    .andSomuch p {
        font-size: 1.2rem;
    }
    .andSomuch h2.dark_heading {
        font-size: 4rem;
    }
        
    .list_wrp_inner ul {
        max-width: 498px;
        margin-left: auto;
        margin-right: auto;
    }
    .baner_pera_wrp h2 {
        font-size: 2.6rem;
    }
    .baner_pera_wrp p ,
    .baner_pera_wrp_login p{
        font-size: 1.6rem;
    }
    .location_main .location_pera p {
        font-size: 1.7rem;
    }
    .trailForm_header h2 {
        font-size: 2.2rem;
        font-weight: 900;
    }
    .trailForm_body input, .trailForm_btn {
        min-height: 61px;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:1080px){
    .video_description_text > h2, .video_description_text > p,.total_user_wrp h2 {
        font-size: 1.6rem;
    }
    .video-top {
        max-width: calc(100% - 80px);
        margin-left: 0 !important;
        margin-top: -260px !important;
    }
    .background-images img {
        height: 300px;
        margin-top: -233px;
    }
    .background-images {
        height: 300px;
    }
    .thumbnail-1 {
        height: 350px;
    }
    .sales-letter {
        font-size: 48px;
    }
    .letter-2 {
        font-size: 23px;
        line-height: 1.2;
        display: inline-block;
    }    
    .quickly-letter {
        font-size: 28px;
    }
    button.btn-coustomize {
        font-size: 22px !important;
        font-weight: 900;
    }
    .demo_main {
        margin-top: -100px;
    }
    h6.dark_subHeading.text-center {
        font-size: 2rem;
    }
    .page_text_col p {
        font-size: 1.1875rem;
    }
    h6.dark_subHeading.text-center{
        margin-bottom: 1.2rem  !important;
        font-size: 1.4rem;
    }
    .trial_col_text_wrp p {
        font-size: 1.1875rem;
    }
    .start_trial_btn b {
        font-size: 1.58rem;
    }
    .faq_col_inner p {
        font-size: 1.5rem;
    }
    .start_trial_btn{
        padding: 16px !important;
    }
    .blue_heading {
        font-size: 2.2125rem;
    }
    section.pages_main {
        padding-bottom: 3% !important;
    }
    .dark_head_wrp h2 {
        font-size: 2.6rem;
    }
    .list_list_wrp ul li {
        font-size: 50px;
    }
    .list_list_wrp ul li span {
        font-size: 1.5rem;
    }
    .list_wrp_inner ul {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .Free_text_wrp h2 {
        font-size: 4.5rem;
    }
    .baner_pera_wrp p {
        font-size: 1.2rem;
    }
    .location_main .location_pera p {
        font-size: 1.5rem;
    }
    section.top_banner {
        min-height: 424px;
    }
    .home_top_banner .baner_pera_wrp_login span {
        font-size: 1.8rem;
    }
    .baner_pera_wrp_login h2 b.sales {
        font-size: 3.0rem;
    }
    .home_top_banner button.start_trial_btn {
        padding: 15px 40px 15px 40px !important;
    }
    .home_top_banner .sitecontainer {
        margin-bottom: 30px;
    }
    
        
      
}

@media only screen and (max-width:1024px){
    .quickly-letter {
        font-size: 23px;
    }
    .sales-letter {
        font-size: 36px;
    }
    .letter-2 {
        font-size: 16px;
    }
    button.btn-coustomize {
        font-size: 18px !important;
        display: inline-block;
        width: auto;
        padding: 8px 10px!important;
    }
    .video_description_text > h2, .video_description_text > p, .total_user_wrp h2 {
        font-size: 1.3rem;
    }
    .total_user_wrp p {
        font-size: 1.0rem;
    }
    .video_wrp iframe {
        height: 251px;
    }
    .wht_funnel_main p {
        font-size: 1.175rem;
    }
    .funnel_pera {
        font-size: 1rem;
    }
    .multiple_like .dark_heading {
        font-size: 2.3rem;
    }
    .trial_col_text_wrp h2 {
        font-size: 2rem;
    }
    .start_trial_btn {
        padding: 10px !important;
    }
    .start_trial_btn b {
        font-size: 1.3rem !important;
    }
    .start_trial_btn span {
        font-size: 0.7rem !important;
    }
    .location_main .location_pera p {
        font-size: 1.3rem;
    }
    .baner_pera_wrp h2 {
        font-size: 2.1rem;
    }
    .doubleCircle_wrp.right_top .doubleCircle {
        height: 40%;
        width: 34%;
    }    
    .team_person_text p {
        font-size: 1.1rem;
    }
    .card_heading {
        font-size: 2.4rem;
    }
    .developer_card .card_text h2 {
        font-size: 1.51rem;
    }
    .developer_card .card_text p {
        font-size: 1.1rem;
    }
    .developer_card .card_text h4.subheading.gray_text {
        font-size: 1.2rem;
    }
    .home_top_banner .baner_pera_wrp_login span {
        font-size: 1.2rem;
    }
    .baner_pera_wrp_login h2 b.sales {
        font-size: 2.8rem;
    }
    .home_top_banner button.start_trial_btn {
        padding: 15px !important;
    }
    .home_top_banner .start_trial_btn span {
        font-size: 0.5rem !important;
    }
}
@media only screen and (max-width:767px){
    .sales-part {
        padding-bottom: 50px;
    }
    .watch_demo {
        padding-left: 0;
        text-align: center;
    }
    .watch_demo h2 {
        margin-bottom: 0 !important;
    }
    .logo img {
        max-width: 100%;
    }
    .logo {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .groupimage {
        margin-right: 20px;
    }
    .video-top {
        margin-right: 40px;
    }
    .through_f h3 {
        font-size: 14px;
        line-height: 1.3;
        padding: 10px 0;
    }
    
    .through_f h3 i {
        margin-right: 6px;
        display: inline-block;
    }
    .funnel_heading {
        font-size: 1.8rem;
    }
    .wht_funnel_main p {
        font-size: 1.0rem;
    }
    .multiple_like .dark_heading {
        font-size: 1.7rem;
    }
    .multiple_like .dark_heading br {
        display: none;
    }
    .figure_wrp {
        margin-bottom: 56px;
    }
    .pages_main:not(.pages_main_reverse) .row ,
    .start_trial_reverse .row{
        flex-direction: column-reverse;
    }
    .start_trial_main .trial_col_text_wrp {
        margin-bottom: 30px;
    }
    .start_trial_main {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .dark_head_wrp h2 {
        font-size: 1.6rem;
    }
    .list_list_wrp {
        padding: 15px !important;
    }
    .list_list_wrp ul li span {
        font-size: 1.2rem;
    }
    .list_list_wrp ul li {
        margin-bottom: 16px;
    }
    .Free_text_wrp p {
        font-size: 1.5rem;
    }
    .bootom_white_space {
        min-height: 120px;
    }
    .list_wrp_inner ul{
        margin-top: 0;
    }      
    .get_freel_trial_main {
        padding-top: 0 !important;
    }
    .andSomuch h2.dark_heading {
        font-size: 2rem;
    }
    .faq_col_inner p{
        text-align: center;
    }
    section.top_banner {
        background-size: 100% 100%;
    }
    .story_pera_main h2 {
        font-size: 2.2rem;
    }
    .trailForm_header h2 {
        font-size: 2rem;
    }
    .trailForm_body input {
        min-height: unset;
        font-size: 1rem;
    }
    .trailForm_btn{
        min-height: unset;
        font-size: 1rem;
    }
    .trailForm_body form label.gray_text {
        font-size: 0.6rem;
    }
    .paymentForm_body input{
        font-size: 1.2rem;
    }
    .confirm_btn button {
        font-size: 1.0rem;
        font-weight: 700;
        padding-left: 10px;
        padding-right: 10px;
    }
    .trailForm_footer .col-sm-6.text-left a.text-warning {
        font-size: 14px;
        text-decoration: underline;
    }
    .startTrialForm_main .doubleCircle {
        display: none;
    }
    .startTrialForm_main .doubleCircle_wrp {
        padding: 0 !important;
    }
    .form-check.saveCard {
        margin-top: 22px;
    }
    .saveCard label.form-check-label span:after {
        width: 26px;
        height: 26px;
        border: 1px solid #f6ba17;
        border-radius: 5px;
    }
    .saveCard label.form-check-label span:before {
        left: 5px;
        width: 17px;
        height: 9px;
        border-width: 0px 0px 2px 2px;
        top: 1px;
    }
    .paymentForm_body label.gray_text {
        font-size: 0.8rem;
        line-height: 1;
    }
    .team_description_main .reverse {
        flex-direction: column-reverse;
    }
    .card_heading {
        font-size: 2rem;
    }
    .developer_card .card_text p {
        font-size: 1rem;
        line-height: 1.2;
    }
    .developer_card .card_text h2 {
        font-size: 1.31rem;
    }
    .home_top_banner .doubleCircle_wrp.right_top {
        width: 100%;
    }
    .home_top_banner .col-sm-6.col-xl-5 {
        margin-bottom: 30px;
    }

    
}
@media only screen and (max-width:350px){
    .member_login {
        font-size: 14px;
        max-width: 100%;
    }
    .trailForm_header h2 {
        font-size: 1.5rem;
        font-weight: 800;
    }
}
 /* home index end */

 