.progress-bar { 
height: 14px;

background: #f58b3c;

width: 47px;

text-align: center;

border-radius: 4px;

border: none;

}

.pp{
border-top-right-radius: 4px;
background: #d7d4d4;
border-bottom-right-radius: 4px;
}

.sldre_top
{
margin-top: 14px;
        
    }

.section1,.section22,.section33 {

    padding: 30px 0px 0px 0px;

}



.section1 i {
   border: 5px solid #5DDDD3;
border-radius: 50%;
padding: 56px;
border-radius: 50%;
height: 170px;
width: 170px;
font-size: 42px;
color: #5DDDD3;
}
.section22 i {
   border: 5px solid #90DFAA;
border-radius: 50%;
padding: 56px;
border-radius: 50%;
height: 170px;
width: 170px;
font-size: 42px;
color: #90DFAA;
}



.section33 i {
   border: 5px solid #FD8469;
border-radius: 50%;
padding: 56px;
border-radius: 50%;
height: 170px;
width: 170px;
font-size: 42px;
color: #FD8469;
}


.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}



.ourTeam-hedding{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../demo/hands-joined.jpg');
    height:200px;
    width:100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background: linear-gradient(rgba(0,0,0,.10)); 
}
.ourTeam-hedding h1{
    color:#fff;
    padding:70px 0px;
    font-weight:900;
    z-index: 1;
}
.ourTeam-box{
    border-top: 6px solid #5DDDD3;
    background-color: #FFFFFF;
}
.section1{
    padding: 30px 0px 0px 0px;
}
.section1 img{
    border:5px solid #5DDDD3;
    padding:5px;
    border-radius:50%;
    height:170px;
    width: 170px;
}
.section2 h1{
    font-size:20px;
    color:#C1C1C1;
    margin:0px;
    border-bottom:2px solid #5DDDD3;
    display: inline-block;
    padding: 10px 0px;
}
.section2 p{
    background-color: #5DDDD3;
    display: inline-block;
    font-weight: bold;
    color:#fff;
    padding: 5px 15px;
    border-radius: 3px;
    margin-top: -20px;    
}
.section2 span{
    color:#979597;
}
.section2 label{
    background-color: #5DDDD3;
    padding: 8px 10px 8px 10px;
    color:#fff;
    font-weight: normal;
    margin: 30px 0px 35px 0px;
    border-radius: 2px;
}
.section3 p{
    padding: 10px 15px 0px 15px;
    font-size:12px;
    color:#c3c9c9;
}
.section4{
    padding:10px 0px 50px 0px;
}
.section4 i{
    color:#fff;
    padding:3px;
    border-radius: 2px; 
    font-size: 12px;
    background-color: #5DDDD3;
    cursor: pointer;
}
.section-info{
    border-top:6px solid #90DFAA;
}
.section-danger{
    border-top:6px solid #FD8469;
}
.section-info .section1 img{
    border:5px solid #90DFAA;
    padding:5px;
}
.section-info .section2 p{
    background-color: #90DFAA;
    color:#fff;
}
.section-danger .section2 p{
    background-color: #FD8469;
    color:#fff;
}
.section-danger .section1 img{
    border:5px solid #FD8469;
    padding:5px;
}
.section-info .section4 i{
    background-color: #90DFAA;  
}
.section-danger .section4 i{
    background-color: #FD8469;  
}
.section-info .section2 h1{
    border-bottom:2px solid #90DFAA;
}
.section-danger .section2 h1{
    border-bottom:2px solid #FD8469;
}






.mb-60 {
    margin-bottom: 60px;
}
.services-inner {
    border: 2px solid #f58b3c;
    margin-left: 35px;
    transition: .3s;
}
.our-services-img {
    float: left;

margin-left: -22px;

margin-right: 21px;

margin-top: 16px;

border: solid 1px #dadada;

padding: 10px;
}
.our-services-text {
    padding-right: 10px;
}
.our-services-text {
    overflow: hidden;
    padding: 28px 0 25px;
}
.our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.our-services-text h4::before {
    background: #ec6d48 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.our-services-text p {
    margin-bottom: 0;
}








.hoh_btn
{
    background: #f58b3c;
    color: white;
}
.fnewcontent
{
  padding-bottom: 19px;
    margin-top: -95px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    padding-top: 16px;
}
.fnewcontent button{
       margin-bottom: 10px;
 
}
.fnewcontent h1{
        font-size: 22px;
    font-weight: 600;
}

.location_near
{
    background-image: url(../img/all_destination_city.jpg);
    width: 100%;
    height: 303px;
    margin-top: -8px;
    
}


.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;

  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
float: none;
    padding: 0px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
    
    font-size: 13px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.sucess_message
{
margin: 0;
    margin-bottom: 0px;
position: absolute !important;
top: 12%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
width: 24%;
height: 41px;
line-height: 15px;
text-align: left;
}
.s_close 
{
line-height: 13px !important;  
}


.rigister_content
{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 12px;
}
.btn-submit
{
border: #f58b3c solid 1px;
    background: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    color: rgb(57, 76, 95);
    background-color: rgb(250, 250, 250);
    padding: .375rem 125px; 
}

.full-content-div
{
     box-shadow: 0 0 15px rgba(0, 0, 0, .1);   
}

ul.index-content
{
    list-style: none;
    
}
ul.index-content li{
        line-height: 35px;
}

ul.index-content li::before 
{
    position: absolute;
    left: 0px;
    padding-top: 3px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    content: "✓";
    margin: 4px 25px;
    transition: all 0.2s ease 0s;
    background: #f58b3c;
    border-radius: 50%;
}
    
    
    


.form-panell,.re-form-panell
{
 margin-bottom: 25px;
    height: auto;
    padding: 30px 36px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    margin-top: 45px;   
}

.btn-renew:hover
{
    background: #f58b3c;
    color: white;
        
}


.btn-renew
{
        border: #f58b3c solid 1px;

    padding: 10px 108px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;    border: #f58b3c solid 1px;
    background: white;
    padding: 10px 107px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    color: rgb(57, 76, 95);
    background-color: rgb(250, 250, 250);
    
    
}

.through_f
{
    font-size: 20px;
    font-weight: 600;
}
ul.rigister
{
list-style:none;
    
}
ul.rigister li{
        line-height: 34px;
}

ul.rigister li::before {
       position: absolute;
    left: 0px;
    padding-top: 3px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    content: "✓";
    margin: 5px 10px;
    transition: all 0.2s ease 0s;
    background: #f58b3c;
    border-radius: 50%;
}

.form-right
{
    float:right;
}
.header_one
{
background: #000000;
    background-color: rgb(255, 255, 255);
    height: 56px;
}
.member_login
{
   
    text-align: center;
background: #f9f9f9;
    background-color: rgb(249, 249, 249);
margin: 0 auto;
color: rgb(57, 76, 95);
font-weight: 600;
background-color: rgb(250, 250, 250);
font-size: 18px;
text-decoration: none;
width: 200px;
line-height: 32px;
border: solid 1px #f58b3c;
   
}

.mem_login a{
    color: rgb(57, 76, 95);
}
.through_f h3{
    font-size: 19px;
    text-align: center;
    line-height: 34px;
}


.headeryy{
   background-color: #f58b3c;
color: white;
}

.through_f h3 span{
    font-weight: 600;
    
}
.memeberlogin_user
{
font-weight: 600;
color: white;
font-size: 18px;
margin-top: 11px;
}
.body_coustm
{    padding-top: 5px;
    padding-bottom: 15px;
    outline: none;
 
    border-color: rgb(24, 142, 197);
   
    margin-top: -8px;
}
 .unel
 {
   text-align: center;

font-size: 15px;
font-family: 'proxima-nova-soft';
font-weight: 600;
 }
 .were
 {
margin-top: 0px; outline: none; cursor: pointer; font-family: Caveat, Helvetica, sans-serif !important;
text-align: center;
    font-size: 23px;
    color: white;
 }
 .contente
 {
  padding-top: 15px;   
 }
 .bagre_red
 {
   text-align: center;

font-size: 20px;

color: rgb(255, 255, 255);

background-color: rgb(229, 80, 63);  
 }
 
 .bagre_red::before
 {
content: '';

position: fixed;

left: 35px;

bottom: 259px;

width: 15px;

height: 15px;

background-color: inherit;

transform: rotate(45deg);

-webkit-transform: rotate(45deg);

right: 525px;
 }
 .bagre_red {

    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(229, 80, 63);
    margin-top: 22px;
    font-weight: 600;
    border-radius: 5px;

}

.backround_grenn {


    background-color: rgb(245, 249, 252);
    border: 6px solid rgb(60, 155, 214);
    margin-top: 26px;

}
.yyrgrren
{
text-align: center;

font-size: 20px;

font-weight: 600;

padding-top: px;
}
.logo img{
    width: 231px;
margin-top: 6px;
}

.mkl {
 background: #fbfbfb;
height: 144px;
padding: 27px 38px;
box-shadow: 0 0 15px rgba(0, 0, 0, .1);
margin-top: 19px;
font-weight: 600;
}
.through_f h3 i{
    color:white;
}
.mkr {
    margin-bottom: 25px;
  height: auto;
padding: 30px 36px;
box-shadow: 0 0 15px rgba(0, 0, 0, .1);
margin-top: 45px;
}
.need_book {
    font-size: 18px;
    font-weight: 700;
}
.why_thrillophilia_data {
   margin-top: 0px;

list-style-type: none;

text-align: left;

margin-left: -38px;


}
.list_items {
    padding-left: 0px;

line-height: 2;

padding-top: 7px;

cursor: pointer;
}

.list_items i {
    color: #f58b3c;
}


.card {position: relative; border-radius: 3px; background-color: #fff;color: #4f5256;border: 1px solid #f2f2f2;margin-bottom: 16px;background:#fff;}
.card-header{ padding: 16px;margin:0px;}
.card-body {position: relative; padding: 16px;}

.gaadiex-list {list-style-type: none; margin: 0;padding: 0;}
.gaadiex-list>.gaadiex-list-item {padding: 0 22px;}
.gaadiex-list-item-img  {
    float: left;
    width: 58px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}
.gaadiex-list-item i  {
    float: left;
    font-size:48px;
    width: 58px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}
.border-b-1 {border-bottom: 1px solid rgba(162,162,162,.16);}
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}