
body{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    background: #fff;
}


h1,h2,h3,h4,h5,h6,p,ol,ul li,ul li a, span,a,div{
	font-family: 'Varela Round', sans-serif;
}

.container_fluid{
    margin-left: 50px;
    margin-right: 50px;
}
 
.first_heading  h3{
    margin: 0
}


.left-sidebar {
    background: #f3f3f3;
    height: 598px;
    padding: 0;
    margin-top: -5px;
}
 
.left-sidebar .list-group {
    margin-bottom: 0;
    margin-top: 0;
}
.left-sidebar  .list-group-item{
    transition: 0.5s;
}
.left-sidebar .list-group-item:hover{
     background: #ddd;
}

.left-sidebar .list-group-item {
    background: transparent;
    display: block;
    width: 100%;
    color: #acb1b5;
    font-size: 20px;
    border: 0;
}
.left-sidebar .list-group-item a {
    color: #929ba2;
    text-decoration: none;
    padding: 20px 10px;
    padding-left: 0;
    margin-left: -15px;
}
.left-sidebar .list-group-item a .fa{
    color: #535d65;
}

 .left-sidebar .left_box {
    background: #ddd;
    width: 50px;
    height: 40px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
}
 .left-sidebar .fa_times {
    padding-top: 10px;
    cursor: pointer;
}

.fa_cog_icon{
        font-size: 25px;
    margin-top: 5px;
    display: inline-block;
    margin-left: -15px;
}


.showlink {
    color: #748193;
    display: inline-block;
    padding-top: 7px;
    text-decoration: none;
}
.categorySubNav {
    padding: 8px 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #EAEAEA;
    border-bottom: 2px solid #EAEAEA;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 10px;
}
.select2-choices {
    border: none !important;
    background: #fff url(./images/search.png) no-repeat left !important;
    background-position: 98% 50% !important;
    padding: 2px 5px !important;
    padding-right: 15px !important;
    font-size: 13px !important;
    border-radius: 4px !important;
    height: 35px;
    width: 100%;
}
.search_small {
    width: 340px;
    border-radius: 4px !important;
    float: right;
    margin-top: -4px !important;
    border: 2px solid #EAEAEA !important;
    font-size: 14px;
}